<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dclock">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/checklist"
        android:label="@string/app_name"
        android:roundIcon="@drawable/checklist"
        android:supportsRtl="true"
        android:theme="@style/Theme.DClock"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".LockPhone"/>
        <activity android:name=".shouye_fragment.forStartService"/>
    </application>

</manifest>